<mat-toolbar>Recomendar a un Trabajador</mat-toolbar>
<div class="example-container">
  <mat-form-field>
    <mat-select placeholder="Trabajador" [(value)]="idTrabajadorSeleccionado">
      <mat-option *ngFor="let a of trabajadores" [value]="a.id"
        >{{ a.nombres }} {{ a.apellidos }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Empresa" [(value)]="idEmpresaSeleccionado">
      <mat-option *ngFor="let b of empresas" [value]="b.id">{{
        b.nombre
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Comentario"
      [(ngModel)]="comentario"
      required
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="aceptar()"
    [disabled]="estadoBotonRegistrar()"
  >
    Registrar
  </button>
</div>
