<br />
<button
  mat-raised-button
  color="primary"
  routerLink="/trabajador"
  style="width: 100px;"
>
  Volver
</button>
<br />
<mat-toolbar>Mis Recomendaciones</mat-toolbar>
<div class="example-container mat-elevation-z8">
  <router-outlet></router-outlet>

  <div class="example-header">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Buscar Recomendaciones"
      />
    </mat-form-field>
  </div>
  <!-- <button (click)="mostrar()">Mostrar Recomendaciones</button> -->

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idRecomendacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="trabajador">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Trabajador</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.trabajador.nombres }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="empresa">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Empresa</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.empresa.nombre }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="comentario">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Comentario</mat-header-cell
      >
      <mat-cell *matCellDef="let row">{{ row.comentario }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
