<br />
<button
  mat-raised-button
  color="primary"
  routerLink="/trabajador"
  style="width: 100px;"
>
  Volver
</button>
<br />
<mat-toolbar>Mi Perfil</mat-toolbar>

<br />

<div class="example-container">
  <mat-form-field class="example-full-width">
    <input
      disabled
      matInput
      required
      [(ngModel)]="trabajador.nombres"
      style="font-weight: 900;"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      disabled
      matInput
      required
      [(ngModel)]="trabajador.apellidos"
      style="font-weight: 900;"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      disabled
      matInput
      required
      [(ngModel)]="trabajador.sexo"
      style="font-weight: 900;"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      disabled
      matInput
      required
      [(ngModel)]="trabajador.direccion"
      style="font-weight: 900;"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      disabled
      matInput
      required
      [(ngModel)]="trabajador.fecha_nacimiento"
      style="font-weight: 900;"
    />
  </mat-form-field>

  <!-- <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">-->
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['edicion', trabajador.id]"
  >
    Editar Perfil
  </button>
  <!-- <button mat-raised-button color="primary" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink="/paciente" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button> -->
</div>
